
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Source+Sans+Pro&display=swap');
body, *, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;

    --main-bg-color: #2a2a49;
    --sec2-bg-color: #eeeeee;
    --sec3-bg-color: #d5d5dd;
}



/*--Nav-Bar--*/

nav {
    min-height: 10vh;
    display: flex;
    background-color: var(--main-bg-color);
    justify-content: space-around;
    color: #ffffff;
    align-items: center;
}
nav > h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
}

nav a {
    color: #ffffff;
    opacity: 1;
}

nav a:hover {
    animation-name: nav-link-hover-animation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes nav-link-hover-animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

a {
    text-decoration: none;
}

nav > ul {
    display: flex;
    flex-direction: row;
    gap: 3em;
}



/*--Section-1--*/

.sec1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    min-height: 90vh;
    background-color: var(--main-bg-color);
    color: #ffffff;
    align-items: center;
    gap: 10vw;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 5vw;
}

.right {
    min-height: 20vh;
    min-width: 27vw;
    margin-right: 5vw;
    background-color: #999999;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-grow: 2.;
    fill-opacity: .1;
    border-radius: 3px;
}

.right h5 {
    opacity: 1 !important;
}
h1 {
    font-size: 40px;
}

/* TODO: Update sizing */
.sign-up-button {
    background-color: #1a2aee;
    color: #ffffff;
    box-shadow: 3px 3px 0px #0717aa;
    border: none;
    border-radius: 3px;
    max-width: 15vw; 
    min-height: 8vh;

    animation-name: sign-up-button-off-click;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.sign-up-button:hover {
    cursor: pointer;
}

.sign-up-button:active {
    animation-name: sign-up-button-on-click;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes sign-up-button-off-click {
    from {
        box-shadow: 0px 0px 0px #0717aa;
    }

    to {
        box-shadow: 3px 3px 0px #0717aa;
    }
}

@keyframes sign-up-button-on-click {
    from {
        box-shadow: 3px 3px 0px #0717aa;
    }

    to {
        box-shadow: 0px 0px 0px #0717aa;
    }
}



/* Section 2 */

.sec2 {

    min-height: 100vh;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.sec2 .info {
    font-size: 40px;
    
}

.sec2 .showcase-4 {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.showcase-4 .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sub-card {
    min-height: 20vh;
    min-width: 10vw;
    border: 5px solid #1a2aee;
    border-radius: 5px;
    margin: 10px;
}

.card p {
    min-width: 10vw;
}

/* Section 3 */

.sec3 {
    background-color: var(--sec3-bg-color);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.sec3 .quote {
    font-size: 20px;
    color:#333335;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 50vw;


    animation-name: quote-animation;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

.sec3 .quote:hover {
    animation-name: quote-animation-hover;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

@keyframes quote-animation {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 2vh
    }
}


@keyframes quote-animation-hover {
    from {
        margin-top: 2vh
    }
    to {
        margin-top: 0vh;
    }
}

.sec4 {
    min-height: 50vh;
    background-color: var(--sec2-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #277de8;
    min-width: 70vw;
    min-height: 20vh;
    color: white;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

        
    box-shadow: 20px 30px 0px #22236c;

    animation-name: call-to-action-off-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin-top: -2vh;
}

.call-to-action:hover {
    animation-name: call-to-action-on-hover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;

}

@keyframes call-to-action-on-hover{
    from {
        transform: translateY(2vh);
    }

    to {
        transform: translateY(-2vh);
    }
}

@keyframes call-to-action-off-hover {
    from {
        transform: translateY(-2vh)
    }

    to {
        transform: translateY(2vh);
    }
}

.call-to-action .left {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.call-to-action .left h5 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.call-to-action .left p {
    max-width: 20vw;
}

.call-to-action button {
    margin-right: 8vw;
}

.sign-up-button-2 {
    min-width: 10vw;
    min-height: 5vh;
    background-color: #277de8;
    border: 3px solid white;
    border-radius: 8px;
    color: white;

}

.sign-up-button-2:hover {
    cursor: pointer;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: var(--main-bg-color);
    color: white;
}

.footer p {
    font-size: 18;
    text-transform: uppercase;
    letter-spacing: 1px;
}